.icon-repository, .icon-newrepository {
  background-image: url(/assets/Tango/16x16/places/folder-saved-search.png);
}

.controller-repository_plugin_content {

  #midia-file p {
    display: inline;
    margin: 0;
  }

  .metadata-fields {
    .event-metadata, .upload-metadata { display: none }
  }
  .repo-content-UploadedFile .metadata-fields .upload-metadata,
  .repo-content-Event .metadata-fields .event-metadata { display: table-row }

  .repo-content-UploadedFile {
    .lead-button, .article-lead, .article-lead *, form>em {
      display: none;
    }
  }

  .formfieldline {
    padding: 20px 0;
    .formfieldline {
      display: inline;
      padding: 0 5px;
    }
    .formlabel, > div {
      display: inline;
      padding: 0 5px;
    }
  }

  .metadata-fields {
    display: table;
    width: 100%;
    h3 {
      display: table-caption;
    }
    label {
      display: table-row;
      margin: 10px 0;
      > * {
        display: table-cell;
        vertical-align: middle;
        input[type="text"], textarea {
          width: 100%;
        }
      }
      script { display: none }
      .hname {
        padding: 5px 5px 5px 0;
        text-align: right;
      }
      &#input-tags small {
        display: block;
        margin-left: 155px;
      }
      &#metadata-event-period input {
        width: 9em;
      }
    }
  }

}

#repo-metadata .no-metadata {
  opacity: 0.4;
}
